In [41]:
import pandas as pd

df = pd.read_csv('train.csv')
df = df.rename(columns={'sms':'text'})

df

                                                   text  label
0     Go until jurong point, crazy.. Available only ...      0
1                       Ok lar... Joking wif u oni...\n      0
2     Free entry in 2 a wkly comp to win FA Cup fina...      1
3     U dun say so early hor... U c already then say...      0
4     Nah I don't think he goes to usf, he lives aro...      0
...                                                 ...    ...
5569  This is the 2nd time we have tried 2 contact u...      1
5570             Will ü b going to esplanade fr home?\n      0
5571  Pity, * was in mood for that. So...any other s...      0
5572  The guy did some bitching but I acted like i'd...      0
5573                       Rofl. Its true to its name\n      0

[5574 rows x 2 columns]

In [42]:
def split_datasets(df):
    train = 0.7
    val = 0.15
    test = 0.15

    train_size = int(len(df) * train)
    val_size = int(len(df) * val)
    test_size = int(len(df) * test)
    
    train_df = df.iloc[:train_size]
    val_df = df.iloc[train_size:train_size + val_size]
    test_df = df.iloc[train_size + val_size:]
    
    return train_df, val_df, test_df

In [43]:
train_d, val_d, test_d = split_datasets(df[:100])
train_d

                                                 text  label
0   Go until jurong point, crazy.. Available only ...      0
1                     Ok lar... Joking wif u oni...\n      0
2   Free entry in 2 a wkly comp to win FA Cup fina...      1
3   U dun say so early hor... U c already then say...      0
4   Nah I don't think he goes to usf, he lives aro...      0
..                                                ...    ...
65  As a valued customer, I am pleased to advise y...      1
66  Today is "song dedicated day.." Which song wil...      0
67  Urgent UR awarded a complimentary trip to Euro...      1
68  Did you hear about the new "Divorce Barbie"? I...      1
69               I plane to give on this month end.\n      0

[70 rows x 2 columns]

In [44]:
from datasets import Dataset, DatasetDict

train_dataset = Dataset.from_pandas(train_d)

val_dataset = Dataset.from_pandas(val_d)

test_dataset = Dataset.from_pandas(test_d)

dataset_dict = DatasetDict({
    "train": train_dataset,
    "valid": val_dataset,
    "test": test_dataset
})

In [45]:
import os
# Save the dataset in Arrow format
base_dir = "dataset"

dataset_dict.save_to_disk(base_dir)

print(f"Dataset saved successfully in .arrow format at {base_dir}")

Saving the dataset (1/1 shards): 100%|██████████| 70/70 [00:00<00:00, 11665.66 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 15/15 [00:00<00:00, 2142.50 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 15/15 [00:00<00:00, 2148.94 examples/s]

Dataset saved successfully in .arrow format at dataset